[submodule "GlobalGameJam2021"]
	path = GlobalGameJam2021
	url = git@github.com:Shellywell123/global-game-jam-2021.git
[submodule "GlobalGameJam2022"]
	path = GlobalGameJam2022
	url = git@github.com:Shellywell123/global-game-jam-2022.git
[submodule "GlobalGameJam2023"]
	path = GlobalGameJam2023
	url = git@github.com:Shellywell123/Holey-Moley.git
[submodule "GlobalGameJam2024"]
	path = GlobalGameJam2024
	url = git@github.com:Shellywell123/global-game-jam-2024.git
[submodule "GlobalGameJam2025"]
	path = GlobalGameJam2025
	url = git@github.com:Shellywell123/global-game-jam-2025.git
[submodule "global-game-jam-2026"]
	path = GlobalGameJam2026
	url = https://github.com/Shellywell123/global-game-jam-2026
